footer {
	padding: 1rem 0;
	background-color: #0a0839;
}

.footer-container {
    display: flex;
}

.footer-logo-container {
  display:flex;
  align-items:center;
  width:300px;
}

.footer-logo-container p {
  text-align: left;
  font-size:20px;
  margin-left:20px;

}

footer img {
	max-width: 5rem;
}

footer a,
footer p {
	text-align: right;
	color: white;
}
